<div class="card card-margin-bottom" data-ng-init="controller.loadData()">
    <div class="card-header">
        <h2>Flight list</h2>
        <button type="button" ui-sref="flight-add()" class="btn btn-outline-primary btn-lg">Add</button>
    </div>

    <div class="card-body">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Number Of Seats</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody ng-repeat="flight in controller.flights">
                    <tr>
                        <td>{{flight.id}}</td>
                        <td>{{flight.departure | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{flight.arrival | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{flight.numberOfSeats}}</td>
                        <td>{{flight.price | currency:"$":2}}</td>
                        <td><button type="button" ui-sref="flight-details({id: flight.id})" class="btn btn-outline-primary">Details</button></td>
                        <td><button type="button" ui-sref="flight-update({id: flight.id})" class="btn btn-outline-warning">Edit</button></td>
                        <td><button type="button" ng-click="controller.deleteFlight(flight.id)"class="btn btn-outline-danger">Remove</button></td>
                    </tr>
            </tbody>
        </table>
    </div>

</div>